includes:
	- vendor/arts/wp-plugin-standards/phpstan/base.neon

parameters:
	paths:
		- src/php
	excludePaths:
		# Compiled JS/CSS landing zone, not PHP
		- src/php/libraries/*
	bootstrapFiles:
		- vendor/autoload.php
		- phpstan-bootstrap.php
		- vendor/php-stubs/wp-cli-stubs/wp-cli-stubs.php
		- vendor/arts/easy-digital-downloads-stubs/easy-digital-downloads-stubs.php
